.date-input-container {
  position: relative;

  .disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }

  .date-input {
    position: relative;
    min-height: 34px;
    background-color: $gray-999;
    border-radius: 7px;
    border: 1px solid #808080;
    width: 100%;
    padding-right: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .calendar-container {
    position: absolute;
    top: 37px;
  }
}
