.vertical-block {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;

  .block-element {
    display: table-cell;

    &.center-element {
      vertical-align: middle;
    }

    &.top-element {
      vertical-align: top;
    }

    &.bottom-element {
      vertical-align: bottom;
    }
  }
}